@model Blog

@{
    Layout = "~/Views/Blog/_Layout.cshtml";
    ViewBag.Title = Model.Title;
    var list = ViewBag.ArticleList as List<Article>;
    var listCatalogList = ViewBag.CatalogList as List<Catalog>;
}

@section scripts{
    <style>
        @@media only screen and (min-width: 1130px) {
            .blog-g-fixed {
                max-width: 1130px;
            }
        }

        @@media only screen and (min-width: 641px) {
            .blog-sidebar {
                font-size: 1.4rem;
            }
        }

        .blog-main {
            padding: 20px 0;
        }

        .blog-title {
            margin: 10px 0 20px 0;
        }

        .blog-meta {
            font-size: 14px;
            margin: 10px 0 20px 0;
            color: #222;
        }

            .blog-meta a {
                color: #27ae60;
            }

        .blog-pagination a {
            font-size: 1.4rem;
        }

        .blog-team li {
            padding: 4px;
        }

        .blog-team img {
            margin-bottom: 0;
        }

        .blog-content img,
        .blog-team img {
            max-width: 100%;
            height: auto;
        }

        .blog-footer {
            padding: 10px 0;
            text-align: center;
        }
    </style>
}

<div class="am-g am-g-fixed blog-g-fixed" style="margin-top:50px;">
    <div class="am-u-md-9  am-u-lg-9">

        @if (list != null)
        {
            for (int i = 0;i<list.Count;i++)
            {
                <article class="blog-main">
                    <h3 class="am-article-title blog-title">
                        <a href="#">@list[i].Title</a>
                    </h3>
                    <h4 class="am-article-meta blog-meta">by <a href="">open</a> posted on 2019/12/19 under <a href="#">字体</a></h4>

                    <div class="am-g blog-content">
                        <div class="am-u-lg-12">
                            @if (i == 0)
                            {
                                @Html.Raw(list[i].Content)
                            }
                            else
                            {
                                @list[i].Description
                            }

                        </div>                        
                    </div>
                    
                </article>

                <hr class="am-article-divider blog-hr">


            }
        }



    </div>

    <div class="am-u-md-3 am-u-lg-3 blog-sidebar">
        <div class="am-panel-group">
            <section class="am-panel am-panel-default">
                <div class="am-panel-hd">@Model.NiName</div>
                <div class="am-panel-bd">
                    <p>
                        @Model.Description
                    </p>
                    <a class="am-btn am-btn-success am-btn-sm" href="#">查看更多 →</a>
                </div>
            </section>

            <section class="am-panel am-panel-default">
                <div class="am-panel-hd">博客栏目</div>
                <div class="am-panel-bd">
                    <ul class="am-list blog-list">
                        @foreach (var item in listCatalogList)
                        {
                            <li><a href="/@Model.Identity/@item.ID">@item.Name</a></li>
                        }

                    </ul>
                </div>
            </section>

            <section class="am-panel am-panel-default">
                <div class="am-panel-hd">热门博客</div>
                <ul class="am-list blog-list">
                    <li><a href="#">Google fonts 的字體（sans-serif 篇）</a></li>
                    <li><a href="#">[but]服貿最前線？－再訪桃園機場</a></li>
                    <li><a href="#">到日星鑄字行學字型</a></li>
                    <li><a href="#">glyph font vs. 漢字（上）</a></li>
                    <li><a href="#">浙江民間書刻體上線</a></li>
                    <li><a href="#">[極短篇] Android v.s iOS，誰的字體好讀？</a></li>
                </ul>
            </section>
        </div>
    </div>

</div>

